{{ define "main" }}
<div class="space-y-8">
    <!-- Posts Grid -->
    <header class="mb-12">
        <h1 class="mb-4 text-4xl font-bold text-gray-900 dark:text-white">{{ .Title }}</h1>
        {{ if .Content }}
        <div class="text-xl text-gray-600 dark:text-gray-300">{{ .Content }}</div>
        {{ else }}
        <p class="text-xl text-gray-600 dark:text-gray-300">{{ .Description}}</p>
        {{ end }}
    </header>
    <div class="grid gap-6 md:grid-cols-2">
        {{ range .Pages }}
        <a href="{{ .RelPermalink }}"
           class="block h-full">
            <article class="flex flex-col h-full overflow-hidden bg-white border border-gray-200 rounded-lg shadow-sm cursor-pointer dark:bg-gray-800 dark:border-gray-700 hover:shadow-md dark:shadow-none">
                <!-- Featured Image -->
                {{ if .Params.featured_image }}
                    <div class="flex-shrink-0 aspect-video">
                        {{ partial "responsive-image.html" (dict 
                          "image" .Params.featured_image 
                          "alt" .Title 
                          "context" . 
                          "size" "thumbnail"
                          "class" "object-cover w-full h-full"
                        ) }}
                    </div>
                {{ end }}

                <div class="flex flex-col flex-grow p-6">
                    <h2 class="mb-2 text-xl font-semibold text-gray-900 dark:text-white">
                        {{ .Title }}
                    </h2>
                    <p class="mb-3 text-sm text-gray-600 dark:text-gray-400">
                        <time datetime="{{ .Date.Format "2006-01-02"}}">{{ .Date.Format site.Params.dateFormat }}</time>
                    </p>
                    <p class="flex-grow mb-4 text-gray-700 dark:text-gray-300 text-balance">
                        {{ .Description }}
                    </p>
                    <div class="flex items-end justify-end">
                        {{ partial "series-badge-compact.html" . }}
                    </div>
                </div>
            </article>
        </a>
        {{ end }}
    </div>
</div>
{{ end }}