{{- $context := . -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  {{- if and .IsPage (not (in .Type "series")) (not (in .Type "tags")) -}}
  "@type": "Article",
  "headline": {{ .Title | jsonify }},
  "description": {{ if .Description }}{{ .Description | jsonify }}{{ else }}{{ .Site.Params.description | jsonify }}{{ end }},
  "url": {{ .Permalink | jsonify }},
  {{- with .Date }}
  "datePublished": {{ .Format "2006-01-02T15:04:05Z07:00" | jsonify }},
  {{- end }}
  {{- with .Lastmod }}
  "dateModified": {{ .Format "2006-01-02T15:04:05Z07:00" | jsonify }},
  {{- end }}
  {{- with .Params.featured_image }}
  "image": {
    "@type": "ImageObject",
    "url": {{ printf "%s%s" $context.Permalink . | jsonify }},
    "width": 1200,
    "height": 630
  },
  {{- end }}
  "author": {
    "@type": "Person",
    "name": {{ .Site.Params.author | jsonify }},
    "url": {{ .Site.BaseURL | jsonify }}
  },
  "publisher": {
    "@type": "Organization",
    "name": {{ .Site.Title | jsonify }},
    "url": {{ .Site.BaseURL | jsonify }}
    {{- with .Site.Params.images }},
    "logo": {
      "@type": "ImageObject",
      "url": {{ printf "%s%s" $.Site.BaseURL (index . 0) | jsonify }},
      "width": 256,
      "height": 256
    }
    {{- end }}
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ .Permalink | jsonify }}
  }
  {{- with .Params.tags }},
  "keywords": {{ . | jsonify }}
  {{- end }}
  {{- with .WordCount }},
  "wordCount": {{ . }}
  {{- end }}
  {{- with .ReadingTime }},
  "timeRequired": "PT{{ . }}M"
  {{- end }}
  {{- else -}}
  "@type": "WebSite",
  "name": {{ .Site.Title | jsonify }},
  "description": {{ .Site.Params.description | jsonify }},
  "url": {{ .Site.BaseURL | jsonify }},
  "author": {
    "@type": "Person",
    "name": {{ .Site.Params.author | jsonify }},
    "url": {{ .Site.BaseURL | jsonify }}
  },
  "publisher": {
    "@type": "Organization",
    "name": {{ .Site.Title | jsonify }},
    "url": {{ .Site.BaseURL | jsonify }}
    {{- with .Site.Params.images }},
    "logo": {
      "@type": "ImageObject",
      "url": {{ printf "%s%s" $.Site.BaseURL (index . 0) | jsonify }},
      "width": 256,
      "height": 256
    }
    {{- end }}
  }
  {{- end }}
}
</script>
